$color-white: #fff;
$color-floral-white: #faf8ef;
$color-dutch-white: #e8ddb5;
$color-shadow-blue: #788aa3;
$color-dark-blue: #666a86;
$color-dark-grey: #2C2E3A;
$color-opal: #92B6B1;

$font-main: source-code-pro, monospace;