@import "../../../styles/variables.scss";

.main-container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: $color-floral-white;
  position: relative;
  background-image: url("./../../../assets/mads-schmidt-rasmussen-6YmzwamGzCg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  h1 {
    font-family: $font-main;
    font-size: 40px;
    margin: 0;
    letter-spacing: 2px;
    color: $color-dark-grey;

    span {
      color: $color-opal !important;
    }
  }

  p {
    color: $color-dark-blue;
    font-size: 14px;
  }
}
